<div class="container container-light mt-5">
    <h3 >Calculadora Científica</h3>
    <form class="form-light" name="calc">
        <input readonly id="display1" type="text" class="form-control-lg text-right form-input-light" [value]="display">
    </form>
    
    <div class="d-flex justify-content-between button-row">
        <button id="pi" type="button" class="ans-light" (click)="definirOperacao('pi')">&pi;</button>
        <button id="elevadoCubo" type="button" class="ans-light" (click)="definirOperacao('x3')">&#120;&#179;</button>
        <button id="raiz" type="button" class="ans-light" (click)="definirOperacao('raiz')">&#8730;</button>
        <button id="quadrado" type="button" class="ans-light" (click)="definirOperacao('x2')">&#120;&#178;</button>
    </div>
  
    <div class="d-flex justify-content-between button-row">
        <button id="clear" type="button" class="col-6 clear-light" (click)="limpar()">C</button>
        <button id="porcen" type="button" class="operator-group-light" (click)="definirOperacao('%')">%</button>
        <button id="divisao" type="button" class="operator-group-light" (click)="definirOperacao('/')">&#247;</button>
    </div>
    
  
    <div class="d-flex justify-content-between button-row">
        <button id="seven" type="button" class="operand-group-light" (click)="adicionaNumero('7')">7</button>
        <button id="eight" type="button" class="operand-group-light" (click)="adicionaNumero('8')">8</button>
        <button id="nine" type="button" class="operand-group-light" (click)="adicionaNumero('9')">9</button>
        <button id="multilicacao" type="button" class="operator-group-light" (click)="definirOperacao('*')">&#215;</button>
    </div>
  
    
    <div class="d-flex justify-content-between button-row">
        <button id="four" type="button" class="operand-group-light" (click)="adicionaNumero('4')">4</button>
        <button id="five" type="button" class="operand-group-light" (click)="adicionaNumero('5')">5</button> 
        <button id="six" type="button" class="operand-group-light" (click)="adicionaNumero('6')">6</button> 
        <button id="subtracao" type="button" class="operator-group-light" (click)="definirOperacao('-')">-</button>
    </div>
  
    
    <div class="d-flex justify-content-between button-row">
        <button id="one" type="button" class="operand-group-light" (click)="adicionaNumero('1')">1</button> 
        <button id="two" type="button" class="operand-group-light" (click)="adicionaNumero('2')">2</button>
        <button id="three" type="button" class="operand-group-light" (click)="adicionaNumero('3')">3</button>
        <button id="soma" type="button" class="operator-group-light" (click)="definirOperacao('+')">&#43;</button>
    </div>
  
    <div class="d-flex justify-content-between button-row">
        <button id="zero" type="button" class="operand-group-light" (click)="adicionaNumero('0')">0</button>
        <button id="decimal" type="button" class="operand-group-light" (click)="definirOperacao('.')">.</button>
        <button id="igual" type="button" class="operand-group-light col-6 equal-light" (click)="calcular()">=</button>
    </div>
</div>